body {
  font-family: 'Arial', 'Tahoma';
  color: #ffffff;
  margin-top: 74px;
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}

 .text-left {
   text-align: left !important;
 }

.text-center {
  text-align: center !important;
}

 .text-right {
   text-align: right !important;
 }

.text-bold {
  font-weight: bold !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.brand-color {
  color: #3eb5f1 !important;
}

.text-size-40px {
  font-size: 40px;
}

.text-size-30px {
  font-size: 30px;
}

.text-size-28px {
  font-size: 28px;
}

.text-size-20px {
  font-size: 20px;
}

.text-size-18px {
  font-size: 18px;
}

.text-size-16px {
  font-size: 16px;
}

.text-size-14px {
  font-size: 14px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear:after {
  clear: both;
  content: '';
  display: block;
}

.w50p {
  width: 50% !important;
}

.w100p {
  width: 100% !important;
}

.h100p {
  height: 100% !important;
}

.hidden {
  display: none !important;
}

.btn {
  color: #ffffff;
  background: #3eb5f1;
  padding: 18px 23px;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
}

.input {
  font-size: 18px;
  padding: 12px;
  background: #ffffff;
  border: 1px solid #3eb5f1;
  box-sizing: border-box;
  outline: none;
  color: #191919;
}

.input:focus {
  border-color: #191919;
}

.error-color {
  color: #df0024;
}

.error {
  color: #df0024;
  border-color: #df0024;
}

.invalid {
  color: #cc0000;
  border-color: #cc0000;
}

.swiper-button-prev,
.swiper-button-next {
  width: 60px;
  height: 94px;
  background-size: contain;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: none;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  margin-right: 10px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active{
  background: #3eb5f1;
  border: none;
}

.swiper-button-prev {
  background-image: url('../img/slider-arrow-left.png');
  left: 12%;
}

.swiper-button-next {
  background-image: url('../img/slider-arrow-right.png');
  right: 12%;
}

HEADER {
  width: 100%;
  height: 74px;
  background-color: #191919;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.header-wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.header-wrapper .c-hamburger {
  display: none;
}

.header-wrapper .logo {
  display: inline-block;
  line-height: 84px;
  position: absolute;
  left: 0;
  top: 0;
}

.header-wrapper .menu {
  display: table;
  margin: 0 auto;
}

.header-wrapper .menu .menu-item {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.header-wrapper .menu .menu-item:last-child A {
  margin-right: 0;
}

.header-wrapper .menu .menu-item A {
  color: inherit;
  font: inherit;
  margin-right: 75px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.header-wrapper .menu .menu-item A:hover,
.header-wrapper .menu .menu-item A.active {
  text-decoration: underline;
}

.header-wrapper .phone-section {
  position: absolute;
  top: 0;
  right: 0;
}

.header-wrapper .phone-section A {
  color: inherit;
  text-decoration: none;
  display: block;
}

.header-wrapper .phone-section A.phone {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
}

.header-wrapper .phone-section A.callback {
  border-bottom: 1px dashed;
  padding-bottom: 1px;
  display: inline-block;
}

.header-cover {
  overflow: hidden;
  position: relative;
  background: url('../img/header-image.png') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 945px;
}

.header-cover .large-rect {
  text-align: left;
  width: 558px;
  height: 558px;
  background: url('../img/large-rect.png') no-repeat center center;
  background-size: contain;
  position: absolute;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 28px;
  text-transform: uppercase;
}

.header-cover .large-rect .wrapper {
  margin: 0 auto;
  width: 360px;
}

.header-cover .large-rect SPAN:first-child {
  padding-top: 54%;
  display: inline-block;
  padding-left: 3px;
}

.header-cover .large-rect SPAN.text-large {
  font-size: 54px;
  padding-bottom: 10px;
}

.header-cover .large-rect SPAN.text-small {
  font-size: 26px;
}

.header-cover .large-rect SPAN {
  white-space: nowrap;
  display: block;
  width: auto;
  text-align: right;
}

.header-cover .rects-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 530px;
  white-space: nowrap;
}

.header-cover .small-rect {
  width: 270px;
  height: 270px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  margin-right: 30px;
  overflow: hidden;
}

.header-cover .small-rect:nth-child(1) {
  background-image: url('../img/small-rect-01.png');
}

.header-cover .small-rect:nth-child(2) {
  background-image: url('../img/small-rect-02.png');
}

.header-cover .small-rect:nth-child(3) {
  background-image: url('../img/small-rect-03.png');
}

.header-cover .small-rect:nth-child(4) {
  background-image: url('../img/small-rect-04.png');
}

.header-cover .small-rect:last-child {
  margin-right: 0;
}

.header-cover .small-rect SPAN:first-child {
  padding-top: 96px;
}

.header-cover .small-rect SPAN {
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-size: 20px;
}

.header-cover .small-rect .text-large,
.header-cover .small-rect .text-x-large {
  text-transform: none;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 7px;
}

.header-cover .small-rect .text-x-large {
  font-size: 80px;
  line-height: 30px;
  padding-bottom: 17px;
}

.header-cover .small-rect .text-small {
  font-size: 16px;
  line-height: 20px;
}




.shops-map {
  position: relative;
  background: url('../img/map-bg.png') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 900px;
}

.shops-map .map-squares {
  position: absolute;
  background: url('../img/map-squares.png') no-repeat center center;
  background-size: cover;
  width: 674px;
  height: 532px;
  top: 0;
  right: 56%;
}

.shops-map .map-squares SPAN {
  display: block;
  text-transform: uppercase;
  font-size: 30px;
  width: 390px;
  margin-left: 185px;
}

.shops-map .map-squares SPAN:first-child {
  margin-top: 108px;
}

.shops-map .map-squares .text-large,
.get-catalog .catalog-squares .text-large,
.reviews .reviews-square .text-large {
  font-size: 40px;
  font-weight: bold;
  padding: 5px 0 20px;
}

.shops-map .map-squares .text-small,
.get-catalog .catalog-squares .text-small {
  font-size: 14px;
  line-height: 18px;
}

.shops-map .map-ukraine {
  background: url('../img/map-ukraine-full.png') no-repeat center center;
  background-size: cover;
  position: absolute;
  width: 761px;
  height: 530px;
  left: 41%;
  top: 120px;
}

.shops-map .map-ukraine .descr {
  text-transform: uppercase;
  display: block;
  width: 340px;
  margin-left: 80px;
}

.shops-map .shops {
  width: 100%;
  height: 230px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .8);
}

.shops-map .shops .descr {
  margin-top: 30px;
  text-transform: uppercase;
}

.shops-map .shops .shop {
  width: 302px;
  height: 108px;
  margin-top: 36px;
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.shops-map .shops .shop:before,
.shops-map .shops .shop:last-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: -7px;
  background: url('../img/pluses.png') no-repeat center center;
  background-size: contain;
  width: 11px;
  height: 100%;
}

.shops-map .shops .shop:last-child:after {
  left: auto;
  right: -7px;
}

.shops-map .shops .shop.epitsentr {
  background-image: url('../img/epitsentr.png');
}

.shops-map .shops .shop.novaya-liniya {
  background-image: url('../img/novaya-liniya.png');
}

.shops-map .shops .shop.leo-keramika {
  background-image: url('../img/leo-keramika.png');
}

.shops-map .shops .shop.domus {
  background-image: url('../img/domus.png');
}



.slider-section {
  width: 100%;
  height: 740px;
  background: url('../img/plaster.png') repeat;
}

.slider-section .slide-contents {
  color: #4a4a4a;
  display: inline-block;
}

.slider-section .title {
  margin-top: 100px;
  margin-bottom: 88px;
  display: block;
  text-transform: uppercase;
  font-size: 30px;
  color: #4a4a4a;
}

.slider-section .slide-contents .product-preview .product-thumb {
  width: 115px;
  height: 115px;
  margin: 0 12px 12px 1px;
  cursor: pointer;
}

.slider-section .slide-contents .product-preview .product-thumb.active {
  border: 2px solid #3eb5f1;
  box-sizing: border-box;
}

.slider-section .slide-contents .product-preview .product-thumb IMG,
.slider-section .slide-contents .product-preview .product-photo IMG {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.slider-section .slide-contents .product-preview .product-photo {
  width: 369px;
  height: 369px;
}

.slider-section .slide-contents .product-descr {
  width: 532px;
  margin-left: 58px;
}

.slider-section .slide-contents .product-descr .product-about {
  height: 147px;
  overflow: auto;
}

.slider-section .slide-contents .product-descr .product-title {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
}

.slider-section .slide-contents .product-descr H2 {
  margin-top: 25px;
  margin-bottom: 13px;
}

.slider-section .slide-contents .product-descr P {
  line-height: 17px;
  overflow: auto;
  height: 89px;
}

.slider-section .slide-contents .product-descr .product-size {
  cursor: pointer;
  display: inline-block;
  border: 1px solid #3eb5f1;
  font-size: 14px;
  padding: 10px 13px;
  border-radius: 3px;
}

.slider-section .slide-contents .product-descr .product-size:hover,
.slider-section .slide-contents .product-descr .product-size.active {
  background: #3eb5f1;
  color: #ffffff;
}

.slider-section .slide-contents .product-descr .product-price-order {
  margin-top: 16px;
}

.slider-section .slide-contents .product-descr .product-price {
  margin-top: 12px;
}


.get-catalog {
    position: relative;
    background: url('../img/receive-catalog-bg.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 635px;
}

.get-catalog .catalog-squares {
  position: absolute;
  background: url('../img/catalog-squares.png') no-repeat center center;
  background-size: cover;
  width: 676px;
  height: 590px;
  top: 0;
  right: 56%;
}

.get-catalog .catalog-squares SPAN {
  display: block;
  text-transform: uppercase;
  font-size: 30px;
  width: 570px;
  margin-left: 185px;
}

.get-catalog .catalog-squares SPAN:first-child {
  margin-top: 200px;
}

.get-catalog .catalog-form {
  width: 375px;
  top: 218px;
  position: absolute;
  left: 55.5%;
}

.get-catalog .catalog-form .row {
  margin-bottom: 22px;
}



.request-callback {
  width: 100%;
  height: 842px;
  text-align: center;
  background: url('../img/plaster.png') repeat;
}

.request-callback .callback-diamonds {
  margin-top: 120px;
  display: inline-block;
}

.request-callback .callback-diamonds .diamond-container {
  display: inline-block;
}

.request-callback .callback-title {
  text-transform: uppercase;
  padding: 100px 0 10px 0;
}

.request-callback .callback-subtitle {
  text-transform: uppercase;
  color: #191919;
}

.request-callback .callback-diamond {
  width: 130px;
  height: 130px;
}

.request-callback .diamond-wrapper {
  width: 170px;
  height: 170px;
  padding: 10px;
  transform: rotateZ(45deg);
  border: 1px solid #3eb5f1;
  margin-right: 108px;
  position: relative;
  transform-origin: 50% 50%;
}

.request-callback .diamond-container:nth-child(4) .diamond-wrapper {
  margin-right: 0;
}

.request-callback .diamond-descr {
  color: #191919;
  width: 250px;
  height: 106px;
  font-size: 18px;
  line-height: 22px;
  overflow: hidden;
  margin-left: -20px;
  margin-top: 75px;
}

.request-callback .diamond-wrapper:last-child {
  margin-right: 0;
}

.request-callback .diamond-wrapper .callback-diamond {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.request-callback .diamond-wrapper .callback-diamond .diamond-photo {
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotateZ(-45deg) translate(0, -21%);
  width: 142%;
  height: 142%;
}

.request-callback .callback-notice {
  font-size: 14px;
  color: #191919;
  margin: 60px 0 15px;
}

.request-callback .btn {
  width: 330px;
}

.reviews {
  position: relative;
  background: url('../img/reviews-bg.png') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 770px;
}

.reviews .reviews-partners {
  width: 100%;
  height: 194px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .8);
  text-align: center;
  z-index: 1;
}

.reviews .reviews-partners .our-partners {
  display: table;
  height: 100px;
  margin: 10px auto 0;
}

.reviews .reviews-partners .our-partners .partner {
  display: table-cell;
  vertical-align: middle;
  padding-right: 85px;
}

.reviews .reviews-partners .our-partners .partner:last-child {
  padding-right: 0;
}

.reviews .reviews-partners .reviews-title {
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 46px;
}

.reviews .reviews-square {
  position: absolute;
  background: url('../img/rewiews-square.png') no-repeat center center;
  background-size: cover;
  width: 674px;
  height: 672px;
  top: 60px;
  right: 56%;
}

.reviews .reviews-square > SPAN {
  display: block;
  text-transform: uppercase;
  font-size: 30px;
  width: 570px;
  margin-left: 185px;
}

.reviews .reviews-square > SPAN:first-child {
  margin-top: 278px;
}

.reviews .rewiews-slider {
  position: absolute;
  top: 334px;
  left: 39.5%;
  width: 780px;
  height: 295px;
}

.reviews .reviews-square .reviews-pagination {
  margin-left: 185px;
  margin-top: 6px;
}

.reviews .slide-contents {
  padding: 40px;
  border: 2px solid #3eb5f1;
  width: calc(100% - 175px);
}

.reviews .slide-contents .comment {
  width: 520px;
  height: 155px;
  overflow: hidden;
  line-height: 22px;
}

.reviews .slide-contents .author-name {
  font-style: italic;
  margin-top: 20px;
}

.reviews .slide-contents .author-company {
  font-style: italic;
  margin-top: 4px;
}

.reviews .slide-contents .author-photo {
  position: absolute;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  top: 30px;
  right: 10px;
}

.ask-question {
  position: relative;
  background: url('../img/ask-question-bg.png') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 330px;
}

.ask-question .ask-question-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding-top: 40px;
}

.ask-question .ask-question-request {
  width: 669px;
  height: 126px;
  background: url('../img/ask-question-btn.png') no-repeat center bottom;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  background-size: contain;
  text-align: center;
}

.ask-question .btn {
  width: 371px;
  margin-left: 50%;
  margin-top: 30px;
  transform: translateX(-50%);
}

.ask-question .hand {
  width: 348px;
  height: 159px;
  background: url('../img/hand.png') no-repeat center bottom;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(18%);
  pointer-events: none;
  background-size: contain;
}

.ask-question .ask-question-request SPAN {
  margin-top: -6px;
  display: block;
}

.footer-wrapper {
  width: 100%;
  height: 490px;
  position: relative;
}

.footer-wrapper .footer-map {
  width: 100%;
  height: 100%;
}

.footer-wrapper .footer-contacts {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .8);
}

.footer-contacts {
  padding-top: 76px;
  padding-left: 378px;
  box-sizing: border-box;
}

.footer-contacts .copyright {
  font-size: 18px;
  font-weight: bold;
}

.footer-contacts .address {
  margin-top: 44px;
  font-size: 14px;
}

.footer-contacts .telephone A {
  display: block;
  margin-top: 44px;
  font-size: 36px;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.footer-contacts .btn {
  margin-top: 15px;
  width: 272px;
}

.footer-contacts .socials {
  margin-top: 64px;
}

.footer-contacts .socials .title {
  font-size: 14px;
  margin-bottom: 20px;
}

.footer-contacts .socials .social {
  display: inline-block;
  width: 29px;
  height: 29px;
  margin-right: 8px;
}

.footer-contacts .socials .social A {
  transition: all 0.5s ease-in-out 0s;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 100%;
}

.footer-contacts .socials .social:hover A {
  transform: rotateY(360deg);
}

.footer-contacts .socials .social.instagram A {
  background-image: url('../img/icons/social/instagram.png');
}

.footer-contacts .socials .social.facebook A {
  background-image: url('../img/icons/social/facebook.png');
}

.footer-contacts .socials .social.twitter A {
  background-image: url('../img/icons/social/twitter.png');
}

.footer-contacts .socials .social.youtube A {
  background-image: url('../img/icons/social/youtube.png');
}

.popup-wrapper {
  z-index: 2;
  opacity: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out 0s;
}

.popup-wrapper.invisible {
  opacity: 0;
}

.popup-wrapper.popup-1 .popup {
  background: url('../img/popup-bg.png') no-repeat center center;
  background-size: cover;
}

.popup-wrapper.popup-2 .popup {
  background: url('../img/popup-thanks-bg.png') no-repeat center center;
  background-size: cover;
}

.popup-wrapper .popup {
  display: inline-block;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  border: 4px solid #3eb5f1;
  padding: 26px;
  background-color: #ffffff;
  color: #191919;
  width: 710px;
}

.popup-wrapper .popup .title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  padding-top: 36px;
}

.popup-wrapper .popup .descr {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
  font-weight: 500;
}

.popup-wrapper.popup-2 .popup .descr {
  padding-bottom: 46px;
}

.popup-wrapper .popup .popup-form {
  margin-top: 75px;
}

.popup-wrapper .popup .popup-form .row {
  width: 47.5%;
}

.popup-wrapper .popup .popup-form .row .error {
  padding: 6px 0 0 12px;
  font-size: 13px;
  visibility: hidden;
}

.popup-wrapper .popup .popup-form .row INPUT.invalid + .error {
  visibility: visible;
}

.popup-wrapper .popup .popup-form .row:last-child  {
  width: 100%;
}

.popup-wrapper .popup .popup-form .row:last-child .btn {
  margin-top: 14px;
}

.popup-wrapper .popup .popup-contents {
  position: relative;
}

.popup-wrapper .popup .popup-contents .popup-close {
  position: absolute;
  right: -17px;
  top: -18px;
  width: 28px;
  height: 28px;
  cursor: pointer;
  user-select: none;
  background: url('../img/popup-close.png') no-repeat center center;
  background-size: cover;
}

.popup-wrapper .popup .popup-contents .popup-close:hover {
  transform: rotate(360deg);
  transition: all 0.5s ease-in-out 0s;
}

@media only screen and (min-width: 1440px) and (max-width: 1679px) {
  .swiper-button-prev {
    left: 5%;
  }
  .swiper-button-next {
    right: 5%;
  }
  .header-cover {
    height: 855px;
  }
  .header-cover .large-rect {
    width: 500px;
    top: 50px;
  }
  .header-cover .large-rect SPAN:first-child {
    padding-top: 54%;
  }
  .header-cover .small-rect {
    width: 250px;
    height: 250px;
  }
  .header-cover .rects-wrapper {
    top: 475px;
  }
  .header-cover .small-rect SPAN:first-child {
    padding-top: 78px;
  }
  .request-callback .diamond-wrapper {
    width: 160px;
    height: 160px;
  }
  .reviews .reviews-square {
    width: 600px;
    height: 600px;
  }
  .reviews .reviews-square > SPAN:first-child {
    margin-top: 244px;
  }
  .reviews .reviews-square > SPAN {
    margin-left: 150px;
  }
  .reviews .reviews-square .reviews-pagination {
    margin-left: 150px;
  }
  .reviews .rewiews-slider {
    top: 305px;
  }
  .request-callback .diamond-descr {
    width: 220px;
    font-size: 16px;
  }
  .get-catalog .catalog-squares {
    width: 600px;
    height: 522px;
  }
  .get-catalog .catalog-squares SPAN {
    font-size: 26px;
    margin-left: 160px;
  }
  .shops-map .map-squares .text-large,
  .get-catalog .catalog-squares .text-large,
  .reviews .reviews-square .text-large {
    font-size: 34px;
  }
  .get-catalog .catalog-squares SPAN:first-child {
    margin-top: 160px;
  }
  .get-catalog .catalog-form {
    top: 168px;
  }
  .shops-map .map-squares SPAN {
    font-size: 26px;
  }
  .shops-map .map-squares {
    width: 600px;
    height: 474px;
  }
  .shops-map .map-ukraine {
    width: 690px;
    height: 476px;
    top: 112px;
  }
  .footer-contacts {
    padding-left: 208px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1439px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 50px;
    height: 82px;
  }
  .swiper-button-prev {
    left: 4%;
  }
  .swiper-button-next {
    right: 4%;
  }
  .btn {
    padding: 14px 20px;
  }
  .footer-contacts .btn {
    width: 258px;
  }
  .ask-question .btn {
    margin-top: 32px;
  }
  .ask-question .hand {
    width: 340px;
    height: 156px;
  }
  .input {
    font-size: 16px;
    padding: 10px;
  }
  .header-cover {
    height: 755px;
  }
  .header-cover .large-rect {
    width: 450px;
    height: 450px;
    top: 60px;
  }
  .header-cover .large-rect SPAN:first-child {
    padding-top: 44%;
  }
  .header-cover .large-rect SPAN:first-child {
    padding-top: 46%;
  }
  .header-cover .large-rect SPAN.text-large {
    font-size: 48px;
  }
  .header-cover .large-rect .wrapper {
    width: 321px;
  }
  .header-cover .large-rect SPAN.text-small {
    font-size: 22px;
  }
  .header-cover .large-rect SPAN.text-large {
    padding-bottom: 0;
  }
  .header-cover .small-rect {
    width: 230px;
    height: 230px;
  }
  .header-cover .rects-wrapper {
    top: 414px;
  }
  .header-cover .small-rect SPAN {
    font-size: 18px;
  }
  .header-cover .small-rect .text-small {
    font-size: 14px;
  }
  .header-cover .small-rect .text-large {
    font-size: 36px;
  }
  .header-cover .small-rect .text-x-large {
    font-size: 60px;
  }
  .header-cover .small-rect SPAN:first-child {
    padding-top: 76px;
  }
  .slider-section {
    height: 550px;
  }
  .shops-map .map-squares {
    width: 474px;
    height: 374px;
  }
  .shops-map .map-squares SPAN {
    margin-left: 100px;
    font-size: 26px;
  }
  .shops-map .map-squares SPAN:first-child {
    margin-top: 40px;
  }
  .shops-map .map-squares .text-large,
  .get-catalog .catalog-squares .text-large,
  .reviews .reviews-square .text-large {
    font-size: 30px;
    padding: 5px 0 10px;
  }
  .shops-map .map-squares .text-small,
  .get-catalog .catalog-squares .text-small {
    font-size: 12px;
    width: 302px;
    line-height: 14px;
  }
  .shops-map .map-ukraine {
    width: 600px;
    height: 419px;
    left: 47%;
    top: 44px;
  }
  .shops-map .shops .shop {
    width: 270px;
    height: 83px;
    margin-top: 30px;
  }
  .shops-map .shops {
    height: 196px;
  }
  .shops-map {
    height: 750px;
  }
  .slider-section .title {
    margin-top: 70px;
    margin-bottom: 58px;
  }
  .slider-section .slide-contents .product-preview .product-thumb {
    width: 100px;
    height: 100px;
  }
  .slider-section .slide-contents .product-preview .product-photo {
    width: 324px;
    height: 324px;
  }
  .slider-section .slide-contents .product-descr {
    margin-left: 40px;
  }
  .slider-section .slide-contents .product-descr H2 {
    margin-top: 16px;
    margin-bottom: 10px;
  }
  .slider-section .slide-contents .product-descr P {
    line-height: 16px;
    height: 84px;
  }
  .slider-section .slide-contents .product-descr .product-about {
    height: 130px;
  }
  .slider-section .slide-contents .product-descr .product-size {
    padding: 8px 13px;
  }
  .get-catalog {
    height: 545px;
  }
  .request-callback .callback-title {
    text-transform: uppercase;
    padding: 60px 0 10px 0;
  }
  .get-catalog .catalog-squares {
    width: 570px;
    height: 499px;
    right: 54%;
  }
  .get-catalog .catalog-squares SPAN {
    font-size: 24px;
    margin-left: 140px;
  }
  .shops-map .map-squares .text-large,
  .get-catalog .catalog-squares .text-large,
  .reviews .reviews-square .text-large {
    font-size: 31px;
    width: 500px;
  }
  .request-callback .callback-diamonds {
    margin-top: 90px;
  }
  .get-catalog .catalog-squares SPAN:first-child {
    margin-top: 150px;
  }
  .get-catalog .catalog-form {
    top: 155px;
  }
  .request-callback .diamond-wrapper {
    width: 150px;
    height: 150px;
  }
  .request-callback .diamond-descr {
    width: 195px;
    font-size: 14px;
    margin-left: -8px;
    margin-top: 68px;
  }
  .request-callback {
    height: 760px;
  }
  .reviews {
    height: 675px;
  }
  .reviews .reviews-square {
    width: 550px;
    height: 550px;
  }
  .reviews .reviews-square > SPAN:first-child {
    margin-top: 222px;
  }
  .reviews .reviews-square > SPAN {
    margin-left: 150px;
  }
  .reviews .reviews-square .reviews-pagination {
    margin-left: 150px;
  }
  .reviews .rewiews-slider {
    top: 285px;
    width: 680px;
  }
  .reviews .slide-contents {
    padding: 30px;
  }
  .reviews .slide-contents .comment {
    width: 460px;
    height: 150px;
    line-height: 19px;
    font-size: 16px;
  }
  .reviews .slide-contents .author-photo {
    width: 150px;
    height: 150px;
    right: 38px;
  }
  .footer-contacts {
    padding-left: 180px;
  }
  .footer-contacts {
    padding-top: 50px;
  }
  .footer-contacts .address {
    margin-top: 34px;
  }
  .footer-contacts .telephone A {
    margin-top: 34px;
  }
  .footer-contacts .socials {
    margin-top: 44px;
  }
  .footer-wrapper {
    height: 404px;
  }
  .footer-contacts .socials .title {
    margin-bottom: 12px;
  }
  .reviews .reviews-partners .reviews-title {
    font-size: 26px;
    margin-top: 34px;
  }
  .reviews .reviews-partners .our-partners .partner {
    padding-right: 60px;
  }
  .reviews .reviews-partners {
    height: 170px;
  }
  .reviews .reviews-partners .our-partners {
    height: 86px;
  }
  .popup-wrapper .popup .popup-form {
    margin-top: 48px;
  }
  .popup-wrapper .popup .title {
    font-size: 36px;
    padding-top: 24px;
  }
  .popup-wrapper .popup {
    width: 610px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .swiper-button-prev {
    left: 14px;
  }
  .swiper-button-next {
    right: 14px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 45px;
    height: 62px;
  }
  .btn {
    padding: 10px 12px;
  }
  .input {
    font-size: 16px;
    padding: 10px;
  }
  .header-wrapper {
    width: 96%;
  }
  .header-cover {
    height: 660px;
  }
  .shops-map .map-squares {
    right: 51%;
  }
  .header-cover .large-rect {
    width: 410px;
    height: 410px;
    top: 45px;
  }
  .header-cover .large-rect SPAN:first-child {
    line-height: 28px;
    padding-top: 42%;
  }
  .header-cover .large-rect SPAN.text-large {
    padding-bottom: 5px;
  }
  .slider-section .slide-contents .product-descr {
    width: 478px;
  }
  .header-cover .large-rect .wrapper {
    width: 295px;
  }
  .header-cover .large-rect SPAN.text-large {
    font-size: 44px;
  }
  .header-cover .large-rect {
    font-size: 22px;
  }
  .header-cover .large-rect SPAN.text-small {
    font-size: 23px;
  }
  .header-cover .small-rect {
    width: 200px;
    height: 200px;
  }
  .header-cover .rects-wrapper {
    top: 368px;
  }
  .header-cover .small-rect SPAN {
    font-size: 15px;
  }
  .header-cover .small-rect .text-small {
    font-size: 12px;
  }
  .header-cover .small-rect .text-large {
    font-size: 32px;
  }
  .header-cover .small-rect .text-x-large {
    font-size: 50px;
    padding-bottom: 7px;
  }
  .header-cover .small-rect SPAN:first-child {
    padding-top: 66px;
  }
  .slider-section {
    height: 455px;
  }
  .shops-map .map-squares {
    width: 474px;
    height: 374px;
  }
  .shops-map .map-squares SPAN {
    margin-left: 100px;
    font-size: 26px;
  }
  .shops-map .map-squares SPAN:first-child {
    margin-top: 40px;
  }
  .shops-map .map-squares .text-large,
  .get-catalog .catalog-squares .text-large,
  .reviews .reviews-square .text-large {
    font-size: 30px;
    padding: 5px 0 10px;
  }
  .shops-map .map-squares .text-small,
  .get-catalog .catalog-squares .text-small {
    font-size: 12px;
    width: 302px;
    line-height: 14px;
  }
  .shops-map .map-ukraine {
    width: 500px;
    height: 346px;
    left: 47%;
    top: 53px;
  }
  .shops-map .map-ukraine .descr {
    margin-left: 31px;
    margin-top: -10px;
  }
  .shops-map .shops .shop {
    width: 240px;
    height: 82px;
    margin-top: 30px;
  }
  .shops-map .shops {
    height: 196px;
  }
  .shops-map {
    height: 750px;
  }
  .slider-section .title {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .slider-section .slide-contents .product-preview .product-thumb {
    width: 85px;
    height: 85px;
  }
  .slider-section .slide-contents .product-preview .product-photo {
    width: 278px;
    height: 278px;
  }
  .slider-section .slide-contents .product-descr .product-title {
    font-size: 30px;
  }
  .slider-section .slide-contents .product-descr .product-brand {
    font-size: 16px;
  }
  .slider-section .slide-contents .product-descr {
    margin-left: 26px;
  }
  .slider-section .slide-contents .product-descr H2 {
    margin-top: 16px;
    margin-bottom: 4px;
    font-size: 18px;
  }
  .slider-section .slide-contents .product-descr P {
    line-height: 14px;
    height: 72px;
    font-size: 12px;
  }
  .slider-section .slide-contents .product-descr .product-about {
    height: 112px;
  }
  .slider-section .slide-contents .product-descr .product-size {
    padding: 6px 8px;
  }
  .get-catalog {
    height: 450px;
  }
  .request-callback .callback-title {
    text-transform: uppercase;
    padding: 60px 0 10px 0;
    font-size: 32px;
  }
  .request-callback .callback-subtitle {
    font-size: 24px;
  }
  .get-catalog .catalog-squares {
    width: 480px;
    height: 416px;
    right: 52%;
  }
  .get-catalog .catalog-squares SPAN {
    font-size: 17px;
    margin-left: 120px;
  }
  .get-catalog .catalog-form .row {
    margin-bottom: 13px;
  }
  .shops-map .map-squares .text-large,
  .get-catalog .catalog-squares .text-large,
  .reviews .reviews-square .text-large {
    font-size: 24px;
    width: 385px;
  }
  .request-callback .callback-diamonds {
    margin-top: 75px;
  }
  .get-catalog .catalog-squares SPAN:first-child {
    margin-top: 108px;
  }
  .get-catalog .catalog-form {
    top: 108px;
  }
  .request-callback .diamond-wrapper {
    width: 130px;
    height: 130px;
    margin-right: 90px;
  }
  .request-callback .diamond-descr {
    width: 195px;
    font-size: 14px;
  }
  .request-callback {
    height: 700px;
  }
  .reviews {
    height: 568px;
  }
  .reviews .reviews-square {
    width: 480px;
    height: 484px;
    right: 51%;
  }
  .reviews .reviews-square > SPAN:first-child {
    margin-top: 200px;
  }
  .reviews .reviews-square > SPAN {
    margin-left: 110px;
  }
  .reviews .reviews-square .reviews-pagination {
    margin-left: 110px;
  }
  .reviews .rewiews-slider {
    top: 264px;
    width: 587px;
  }
  .reviews .slide-contents {
    padding: 18px 24px;
    width: calc(100% - 110px);
  }
  .reviews .slide-contents .comment {
    width: calc(100% - 40px);
    height: 104px;
    line-height: 17px;
    font-size: 14px;
  }
  .reviews .slide-contents .author-photo {
    width: 120px;
    height: 120px;
    right: 2px;
  }
  .footer-contacts {
    padding-left: 150px;
  }
  .footer-contacts {
    padding-top: 50px;
  }
  .footer-contacts .address {
    margin-top: 24px;
  }
  .footer-contacts .telephone A {
    margin-top: 24px;
    font-size: 28px;
  }
  .footer-contacts .socials {
    margin-top: 34px;
  }
  .footer-wrapper {
    height: 360px;
  }
  .footer-contacts .socials .title {
    margin-bottom: 12px;
  }
  .reviews .rewiews-slider {
    left: 41.7%;
  }
  .reviews .reviews-partners .reviews-title {
    font-size: 26px;
    margin-top: 34px;
  }
  .reviews .reviews-partners .our-partners .partner {
    padding-right: 60px;
  }
  .reviews .reviews-partners {
    height: 170px;
  }
  .reviews .reviews-partners .our-partners {
    height: 86px;
  }
  .popup-wrapper .popup .popup-form {
    margin-top: 48px;
  }
  .popup-wrapper .popup .title {
    font-size: 36px;
    padding-top: 24px;
  }
  .popup-wrapper .popup {
    width: 610px;
  }
  .footer-contacts .btn {
    margin-top: 10px;
    width: 202px;
  }
}

@media only screen and (max-width: 1023px) {
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
  .swiper-button-prev,
  .swiper-button-next {
    width: 45px;
    height: 62px;
  }
  .btn {
    padding: 14px 18px;
  }
  .header-wrapper .logo {
    margin-left: 18px;
  }
  .footer-contacts .btn {
    margin-top: 10px;
    width: 216px;
  }
  .footer-wrapper {
    height: auto;
  }
  .footer-wrapper .footer-map {
    height: 250px;
  }
  .footer-wrapper .footer-contacts {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 0;
    text-align: center;
    height: auto;
    width: 100%;
    position: static;
  }
  .footer-contacts .address {
    margin-top: 20px;
  }
  .footer-contacts .telephone A {
    margin-top: 34px;
    font-size: 30px;
  }
  .footer-contacts .socials {
    margin-top: 42px;
  }
  .footer-contacts .socials .title {
    margin-bottom: 12px;
  }
  .ask-question {
    height: 275px;
    overflow: hidden;
  }
  .request-callback {
    height: auto;
  }
  .reviews {
    height: auto;
    padding-bottom: 40px;
  }
  .reviews .reviews-partners {
    position: static;
    height: 126px;
  }
  .reviews .reviews-square {
    position: static;
    width: 90%;
    height: auto;
    background: none;
    margin: 0 auto;
  }
  .reviews .rewiews-slider {
    position: static;
  }
  .ask-question .ask-question-request {
    position: static;
    margin-top: 60px;
    width: 90%;
    transform: none;
    margin: 0 auto;
    padding: 0;
    background: none;
  }
  .ask-question .ask-question-title {
    font-size: 29px;
    padding-top: 35px;
    padding-bottom: 20px;
    width: 75%;
    margin: 0 auto;
  }
  .ask-question .btn {
    width: 85%;
  }
  .ask-question .hand {
    bottom: auto;
    top: 190px;
    width: 200px;
    height: 85px;
    transform: translateX(32%);
  }
  .reviews .rewiews-slider {
    width: 90%;
    height: 215px;
    margin: 0 auto;
  }
  .reviews .slide-contents .comment {
    width: 100%;
    height: 142px;
    font-size: 14px;
    line-height: 18px;
  }
  .reviews .slide-contents {
    border: none;
    width: 100%;
    padding: 0;
  }
  .reviews .slide-contents .author-photo {
    width: 55px;
    height: 55px;
    top: 152px;
    right: auto;
    left: 0;
  }
  .reviews .slide-contents .author-company {
    margin-left: 70px;
  }
  .reviews .slide-contents .author-name {
    margin-left: 70px;
  }
  .reviews .reviews-square .reviews-pagination {
    position: absolute;
    bottom: 20px;
    margin-left: 45%;
    transform: translateX(-50%);
    z-index: 1;
  }
  .reviews .reviews-square > SPAN {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .reviews .reviews-square > SPAN:first-child {
    margin-top: 30px;
  }
  .reviews .reviews-partners .our-partners .partner {
    padding-right: 15px;
  }
  .reviews .reviews-partners .our-partners .partner IMG {
    max-width: 55px;
    max-height: 45px;
  }
  .reviews .reviews-partners .our-partners {
    height: 48px;
  }
  .reviews .reviews-partners .reviews-title {
    font-size: 24px;
    margin-top: 0;
    padding-top: 28px;
  }
  .reviews .reviews-square .text-large {
    font-size: 33px;
  }
  .popup-wrapper.popup-1 .popup {
    width: calc(90% - 38px);
  }
  .popup-wrapper .popup .title {
    padding-top: 6px;
    font-size: 26px;
  }
  .popup-wrapper .popup .descr {
    font-size: 16px;
    margin: 15px auto 0;
  }
  .popup-wrapper .popup {
    padding: 19px;
  }
  .popup-wrapper .popup .popup-form .row {
    margin-bottom: 15px;
    width: 100%;
  }
  .popup-wrapper .popup .popup-form .row:last-child {
    margin-bottom: 0;
  }
  .popup-wrapper .popup .popup-form .row:last-child .btn {
    margin-top: 0;
  }
  .popup-wrapper .popup .popup-form {
    margin-top: 45px;
  }
  .popup-wrapper.popup-2 .popup {
    width: calc(90% - 24px);
  }
  .popup-wrapper.popup-2 .popup .descr {
    padding-bottom: 8px;
  }
  .popup-wrapper .popup .popup-contents .popup-close {
    right: -19px;
    top: -18px;
  }
  .request-callback .callback-title {
    padding: 50px 0 10px 0;
    font-size: 24px;
    width: 90%;
    margin: 0 auto;
  }
  .request-callback .callback-subtitle {
    font-size: 20px;
    width: 90%;
    margin: 0 auto;
  }
  .request-callback .diamond-wrapper {
    margin: 0 auto !important;
  }
  .request-callback .diamond-descr {
    width: 240px;
    margin-left: 0;
    margin-top: 50px;
    padding-bottom: 50px;
  }
  .request-callback .callback-diamonds {
    margin-top: 75px;
  }
  .request-callback .callback-notice {
    margin: 0 auto 10px;
    width: 90%;
  }
  .request-callback .btn {
    width: 90%;
    margin-bottom: 40px;
  }
  .get-catalog {
    height: auto;
  }
  .get-catalog .catalog-squares {
    background: none;
    position: static;
    width: 90%;
    margin: 0 auto;
    height: auto;
  }
  .get-catalog .catalog-squares SPAN {
    width: 100%;
    text-align: center;
    font-size: 24px;
  }
  .get-catalog .catalog-squares .text-small {
    font-size: 12px;
    margin: 0 0 25px;
  }
  .get-catalog .catalog-squares SPAN:first-child {
    padding-top: 30px;
    margin: 0;
  }
  .get-catalog .catalog-squares .text-large {
    margin: 20px 0 0;
    font-size: 28px;
    padding-bottom: 0;
  }
  .get-catalog .catalog-form {
    position: static;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .get-catalog .catalog-form .row {
    margin-bottom: 15px;
  }
  .shops-map {
    height: auto;
  }
  .shops-map .map-squares {
    position: static;
    width: 90%;
    margin: 0 auto;
    height: auto;
    background: none;
  }
  .shops-map .map-ukraine {
    position: static;
    width: 100%;
    height: 78vw;
    background-position: center 30px;
    background-size: contain;
  }
  .shops-map .shops {
    position: static;
    height: auto;
  }
  .header-cover {
    height: calc(100vh - 74px);
  }
  .header-cover .large-rect {
    display: table;
    width: 90%;
    height: 90vw;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .header-cover .small-rect {
    width: 48vw;
    height: 48vw;
    margin-right: 0;
    display: block;
    position: absolute;
  }
  .header-cover .rects-wrapper {
    left: 0;
    top: 349px;
    white-space: initial;
    text-align: center;
    transform: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
  }
  .header-cover .small-rect SPAN:first-child {
    padding-top: 35%;
  }
  .header-cover .small-rect SPAN {
    font-size: 12px;
  }
  .header-cover .small-rect .text-small {
    font-size: 11px;
    line-height: 14px;
  }
  .header-cover .large-rect SPAN {
    font-size: 20px;
  }
  .header-cover .large-rect SPAN.text-small {
    font-size: 16px;
  }
  .header-cover .large-rect SPAN:first-child {
    padding-top: 0;
    width: auto;
    margin-left: calc(45vw - 107px);
  }
  .header-cover .small-rect:nth-child(1) {
    top: 2%;
    left: 0;
  }
  .header-cover .small-rect:nth-child(2) {
    top: 2%;
    right: 0;
  }
  .header-cover .small-rect:nth-child(3) {
    bottom: calc(2% + 74px);;
    left: 0;
  }
  .header-cover .small-rect:nth-child(4) {
    bottom: calc(2% + 74px);;
    right: 0;
  }
  .header-cover .small-rect .text-large {
    font-size: 24px;
  }
  .header-cover .small-rect .text-large {
    padding-bottom: 0;
  }
  .header-cover .small-rect .text-x-large {
    font-size: 56px;
  }
  .header-cover .large-rect SPAN {
    width: 214px;
    margin: 0 auto;
  }
  .header-cover .large-rect SPAN.text-large {
    padding-bottom: 5px;
  }
  .header-cover .large-rect .wrapper {
    width: 214px;
    display: table-cell;
    vertical-align: middle;
  }
  .header-cover .large-rect SPAN.text-large {
    font-size: 32px;
  }
  .shops-map .map-squares SPAN:first-child {
    margin-top: 0;
    padding-top: 30px;
  }
  .shops-map .map-squares SPAN {
    font-size: 24px;
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .shops-map .map-squares .text-large {
    font-size: 28px;
  }
  .shops-map .map-squares .text-small {
    font-size: 12px;
    line-height: 21px;
  }
  .shops-map .map-ukraine .descr {
    display: block;
    width: 90%;
    margin: 24px auto 0;
    text-align: center;
  }
  .shops-map .shops .descr {
    margin: 0 auto;
    padding-top: 30px;
    width: 90%;
  }
  .shops-map .shops .shop:before,
  .shops-map .shops .shop:last-child:after {
    display: none;
  }
  .shops-map .shops .shop {
    width: 75%;
    height: 86px;
    margin-top: 0;
    max-width: 300px;
  }
  .slider-section {
    height: auto;
  }
  .slider-section .title {
    margin-top: 30px;
    margin-bottom: 24px;
    font-size: 22px;
  }
  .slider-section .slide-contents .product-preview .product-thumb {
    display: inline-block;
    width: calc(33% - 6px);
    height: auto;
    margin: 9px 6px 0px 0px;
  }
  .slider-section .slide-contents .product-thumbs {
    float: none;
    text-align: left;
    margin-left: 1px;
  }
  .slider-section .slide-contents .product-thumbs .product-thumb:last-child {
    margin-right: 0;
  }
  .slider-section .slide-contents {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  .slider-section .slide-contents .product-preview {
    width: 100%;
    padding-bottom: 26px;
  }
  .slider-section .slide-contents .product-preview .product-photo {
    float: none;
    width: 100%;
    height: 90vw;
  }
  .swiper-container {
    width: 100%;
    margin: 0 auto;
  }
  .slider-section .slide-contents .product-descr {
    width: 100%;
    margin: 0;
  }
  .slider-section .slide-contents .product-descr .product-title {
    text-align: center;
    font-size: 30px;
  }
  .slider-section .slide-contents .product-descr .product-brand,
  .slider-section .slide-contents .product-descr H2,
  .slider-section .slide-contents .product-descr P {
    text-align: center;
    height: auto;
  }
  .slider-section .slide-contents .product-descr .product-about {
    height: auto;
  }
  .slider-section .slide-contents .product-descr .product-size {
    margin-bottom: 5px;
  }
  .slider-section .slide-contents .product-descr .product-sizes {
    text-align: center;
  }
  .slider-section .slide-contents .product-descr .product-price {
    float: none;
    width: 100%;
    text-align: center;
  }
  .slider-section .slide-contents .product-descr .product-order {
    width: 100%;
    margin: 15px 0 30px;
  }
  .header-wrapper {
    width: 100%;
  }
  .header-wrapper .menu {
    display: block;
    position: fixed;
    width: 90%;
    margin: 0;
    left: 100%;
    top: 74px;
    background: rgba(0, 0, 0, .9);
    padding-top: 16px;
    -webkit-transition: all .3s ease .0s;
    transition: all .3s ease .0s;
  }
  .header-wrapper .menu .menu-item {
    height: auto;
    display: block;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    padding: 16px 0px;
    border-bottom: 1px solid #3eb5f1;
    width: 50%;
    margin: 0 auto;
  }
  .header-wrapper .menu .menu-item:last-of-type {
    border-bottom: none;
  }
  .c-hamburger {
    width: 80px;
    height: 80px;
    display: block;
    outline: none;
    position: absolute;
    top: 3px;
    right: 5px;
    margin: 0;
    padding: 0;
    width: 68px;
    height: 68px;
    font-size: 0;
    text-indent: -9999px;
    border: none;
    cursor: pointer;
    -webkit-transition: all .3s ease .3s;
    transition: all .3s ease .3s;
    z-index: 300;
    background: none;
  }
  .c-hamburger SPAN {
    top: 32px;
    left: 14px;
    right: 14px;
    position: absolute;
    height: 4px;
    background: #ffffff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  .btn-lines,
  .c-hamburger SPAN:after,
  .c-hamburger SPAN:before {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    content: "";
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  .c-hamburger SPAN::before {
    top: -10px;
  }
  .c-hamburger SPAN::after {
    bottom: -10px;
  }
  .c-hamburger--htx.active SPAN {
    background: 0 0;
  }
  .c-hamburger--htx.active SPAN::before {
    top: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background: #fff;
  }
  .c-hamburger--htx.active SPAN::after {
    bottom: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    background: #fff;
  }
  .header-wrapper .c-hamburger {
    display: block;
  }
  .c-hamburger--htx.active + .menu {
    left: 10%;
  }
  .header-wrapper .menu .menu-item A {
    margin-right: 0;
    font-size: 18px;
  }
  .phone-section {
    display: none;
  }
  .menu .phone-section {
    display: block;
    z-index: -1;
    width: 100%;
    text-align: center !important;
  }
  .header-wrapper .phone-section A.phone,
  .header-wrapper .phone-section A.callback {
    position: absolute;
    bottom: 105px;
    width: 100%;
    display: block;
    text-align: center;
  }
  .header-wrapper .phone-section A.callback {
    bottom: 132px;
    border-bottom: none;
  }
}
